body {
    margin: 0;
    font-family: Cambria, serif;
    display: flex;
    height: 100vh;
}

h1 {
    font-family: Forte, Cambria, serif;
    font-size: 3.5rem;
    color: #662d07;
}

.tagline {
    color: #380101;
    font-style: italic;
    font-size: 2rem;
}

aside {
    width: 340px;
    padding: 20px;
    background: #e0be93;
    overflow-y: auto;
    box-sizing: border-box;
}

#map {
    flex: 1;
    height: 100vh;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input,
select,
button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    font-family: inherit;
}

button {
    cursor: pointer;
    background: #8b4513;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
}

button:hover {
    background: #6f350f;
}

.booking-card {
    background: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.popup-button {
    margin-top: 8px;
}

.hidden {
    display: none !important;
}

#bookingModal,
#bookingsModal,
#modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.modal-content {
    position: relative;
    background: white;
    padding: 24px;
    border-radius: 12px;
    width: 320px;
    max-width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.large-modal {
    width: 520px;
}

.modal-actions {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.modal-actions button {
    width: auto;
    min-width: 100px;
}

.modal-content h2 {
    margin: 0 0 20px;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;

    margin: 0;

    background: transparent;
    color: black;
    border: none;

    font-size: 16px;
    line-height: 20px;
    text-align: center;

    cursor: pointer;
    z-index: 10000;
}

.close-button:hover {
    background: transparent;
    color: black;
}